.notifications-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.notifications {
    background-color: black;
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}



.notification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.notification-title {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}


.notification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}


.notification-close-btn {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.notification-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.notification-content p{
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
}