.notifications-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.notifications {
    background-color: black;
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;

    animation: slideInRight 0.5s ease-out forwards;
    right: 0;
    margin-right: 10px;
}



.notification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.notification-title {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}


.notification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}


.notification-close-btn {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.notification-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.notification-content p{
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
}


.start-window {
    width: 300px;
    height: 400px;
    background-color: rgba(58, 58, 58, 0.617);
    border-radius: 8px;
    margin-right: 7vw;
    margin-top: 20vh; 
}

.app-search-box {
    width: 290px;
    height: 30px;
}

.apps-list li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}


.settings-window {
    width: 800px;
    height: 600px;
    background-color: rgba(67, 66, 66, 0.784);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
}


.settings-header {
    display: flex;
   justify-content: space-between;
   padding: 10px;
   background-color: rgba(34, 34, 34, 0.784); 
}

.settings-close-btn {
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
}

.settings-close-btn:hover {
    color: red;
    transform: scale(1.1);
}



.theme-select {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.theme-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.2s ease ;
    cursor: pointer;
}


.theme-option:hover {
    background-color: rgba(0, 0, 0, 0.05);
}



.theme-option input[type="radio"] {
    margin: 0;
    cursor: pointer;
}


.theme-option label {
    cursor: pointer;
    font-weight: 500;
    color: #333;
}


.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}


.snowflake {
    position: absolute;
    top: -50px;
    color: white;
    user-select: none;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



@keyframes fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}


.start-window {
    position: absolute;
    bottom: 80px;
    
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 0.76;
        transform: translateX(0);
    }
}