
.login-screen {
    min-height: 100vh;
    cursor: pointer;
}


.pfp {
    border-radius: 50%;
    height: 20vh;
    border: 3px solid transparent;
    padding: 1px;
    background: 
        linear-gradient(to right, rgb(33, 21, 208), rgb(189, 144, 238)) border-box;
    border: 1px solid transparent;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.pfp-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.name {

    display: flex;
    justify-content: center;
    padding-top: 3vh;
    font-size: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.date-day {
    display: flex;
    gap: 4px;
    font-size: 20px;
}

.time {
    font-size: 30px;
    font-weight: 200;
}


.login-animation-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.arch-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-status-bar {
    width: 300px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}


.login-progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #000000, #000);
    border-radius: 2px;
    transition: width 0.1s linear;
    box-shadow: 0 0 10px rbga(23, 147, 209, 0.5);
}


.login-screen {
    position: relative;
}