
.login-screen {
    min-height: 100vh;
    cursor: pointer;
}


.pfp {
    border-radius: 50%;
    height: 20vh;
    border: 3px solid transparent;
    padding: 1px;
    background: 
        linear-gradient(to right, rgb(33, 21, 208), rgb(189, 144, 238)) border-box;
    border: 1px solid transparent;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.pfp-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.name {

    display: flex;
    justify-content: center;
    padding-top: 3vh;
    font-size: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.date-day {
    display: flex;
    gap: 4px;
    font-size: 20px;
}

.time {
    font-size: 30px;
    font-weight: 200;
}


.login-animation-overlay {
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #001c3b;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeInOverlay 0.3s ease-out forwards;
}

@keyframes fadeInOverlay {
    from {opacity: 0;}
    to {opacity: 1;}
}

.animation-content {
    text-align: center;
    animation: fadeInContent 4.5s ease-out forwards;
}

.arch-logo {
    width: 200px;
    opacity: 0;
    fill: drop-shadow(0 0 20px #131313);
    animation: logoAppear 0.2s ease-out forwards;
}

@keyframes logoAppear {
    0% {transform: scale(0.5); opacity: 0;}
    60% {transform: scale(1.1); opacity: 1;}
    100% {transform: scale(1); opacity: 1;}
}


.progress-container {
    width: 400px;
    height: 6px;
    background-color: #a3a3a33a;
    border-radius: 50px;
    margin: 40px auto 0;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #0099ff;
    animation: progressAnim 1.6s ease-out forwards;
}

@keyframes progressAnim {
    0% {width: 0%;}
    15% {width: 15%;}
    40% {width: 40%;}
    70% {width: 70%;}
    100% {width: 100%;}
}


.arch-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-status-bar {
    width: 300px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}


.login-progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #000000, #000);
    border-radius: 2px;
    transition: width 0.1s linear;
    box-shadow: 0 0 10px rbga(23, 147, 209, 0.5);
}


.login-screen {
    position: relative;
}