* {
    scrollbar-width: none;
}

.desktop {
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/bg-arch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}
.taskbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
    background-color: #000710c1;
    padding: 10px;
    width: 30vw;
    border-radius: 20px;
}




.firefox {
    height: 50px;
}


.terminal {
    height: 30px;
}

.file {
    padding-left: 20px;
    height: 40px;
}

.arch {
    height: 30px;
}

.taskbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
}



.notepad {
   padding-left: 30vw; 
    height: 800px;
    width: 600px;
}


.notepad-header {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    background-color: #000710c1;
}



textarea {
    font-size: 16px;
    color: black;
}


.start-menu {
    height: 400px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 200px; 
}

.start-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.start-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}